@model NovoDiagnosis.Models.DiagnosisDetails

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DiagnosisDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <input asp-for="StaffId" class="form-control" />
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label"></label>
                <input asp-for="Provider" class="form-control" />
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedAnnualMedical" class="control-label"></label>
                <input asp-for="CompletedAnnualMedical" class="form-control" />
                <span asp-validation-for="CompletedAnnualMedical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approve" class="control-label"></label>
                <input asp-for="Approve" class="form-control" />
                <span asp-validation-for="Approve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reject" class="control-label"></label>
                <input asp-for="Reject" class="form-control" />
                <span asp-validation-for="Reject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationCode" class="control-label"></label>
                <input asp-for="AuthorizationCode" class="form-control" />
                <span asp-validation-for="AuthorizationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation" class="control-label"></label>
                <input asp-for="Recommendation" class="form-control" />
                <span asp-validation-for="Recommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
